.clarifion_Card {
    padding: 40px;
    border-radius: 10px;
    background: #FAFAFA;
    border: none !important;
    margin-top: 40px;
    @media (max-width: 575px) {
        padding: 12px;
    }
}